<div class="container">
    <h1>Chat</h1>
    <fieldset style="border: 2px solid black; padding: 10px">
        <legend style="color: blue">Formulario de ingreso</legend>
        <form onsubmit="return addMensaje(this)">

            <div class="mb-3">
                <input type="text" class="form-control" id="id" placeholder="email">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="nombre" placeholder="Como te llamas?">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="apellido" placeholder="Apellido">
            </div>

            <div class="mb-3">
                <input type="number" class="form-control" id="edad" placeholder="cuantos años tienes?">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="alias" placeholder="Como te dicen?">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="avatar" placeholder="Url de la foto">
            </div>

            <div class="mb-3">
                <textarea class="form-control" id="text" placeholder="Escribe tu mensaje"></textarea>
                
            </div>
            <button type="submit" class="btn btn">Post</button>

        </form>
    </fieldset>
    <div class="contenedor">
        <fieldset style="border: 2px solid black; padding: 10px">
            <legend>Historial de Mensajes</legend>
            <div class="" id="historialMensajes"></div>

        </fieldset>

    </div>



</div>